/* #########################  start : MARGIN  ######################### */

/* all */

.margin-auto {
  margin: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val} {
    margin: #{$val}px;
  }
}

.margin {
  @extend .margin-15;
}

/* @@@@@@@@@@ LEFT  */

.margin-auto-left {
  margin-left: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val}-left {
    margin-left: #{$val}px;
  }
}

.margin-left {
  @extend .margin-15-left;
}

/* @@@@@@@@@@ BOTTOM  */

.margin-auto-bottom {
  margin-bottom: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val}-bottom {
    margin-bottom: #{$val}px;
  }
}

.margin-bottom {
  @extend .margin-15-bottom;
}

/* @@@@@@@@@@ RIGHT  */

.margin-auto-right {
  margin-right: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val}-right {
    margin-right: #{$val}px;
  }
}

.margin-right {
  @extend .margin-15-right;
}

/* @@@@@@@@@@ TOP  */

.margin-auto-top {
  margin-top: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val}-top {
    margin-top: #{$val}px;
  }
}

.margin-top {
  @extend .margin-15-top;
}

/* @@@@@@@@@@ RIGHT/LEFT  */

.margin-auto-right-left {
  margin-left: auto;
  margin-right: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val}-right-left {
    margin-right: #{$val}px;
    margin-left: #{$val}px;
  }
}

.margin-right-left {
  @extend .margin-15-right-left;
}

/* @@@@@@@@@@ TOP/BOTTOM  */

.margin-auto-top-bottom {
  margin-top: auto;
  margin-bottom: auto;
}

@each $val in $LST_VALUES {
  .margin-#{$val}-top-bottom {
    margin-top: #{$val}px;
    margin-bottom: #{$val}px;
  }
}

.margin-top-bottom {
  @extend .margin-15-top-bottom;
}

/* #########################  end : MARGIN  ######################### */
