/* #########################  start : TRANSFORM  ######################### */

/* requirements : display block or inline bock !! ! !! ! */

/* :::: INCLINE :::: */

.incline-left, .hover-incline-left:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg)
}

.incline-right, .hover-incline-right:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg)
}

/* :::: REVERSE :::: */

.backwards, .hover-backwards:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* #########################  end : TRANSFORM  ######################### */