/* #########################  start : FORM  ######################### */

form.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

form.flex-form input, form.flex-form button {
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
}

form.flex-form.styled-form :not(.actions-box) input, form.flex-form.styled-form :not(.actions-box) button {
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
}

.align-field-box {
  @include align-field-box;
}

.field-box {
  @include field-box;
}

.actions-box {
  @include action-box;
}

label.required::after {
  content: "\002A";
  margin-left: 5px;
  color: #dc143c;
}

form.required::after {
  content: '\002A\0020 Champ requis / Required field';
  padding: 15px 15px 0 15px;
  color: #dc143c;
  display: block;
}

/* #########################  end : FORM  ######################### */