/* #########################  start : LISTE  ######################### */

.list-unstyled, .list-unstyled > ul, .list-unstyled > ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
  letter-spacing: -0.3em;
}

.list-inline > li,
.list-inline > ul > li,
.list-inline > ol > li {
  display: inline-block;
  margin-right: 15px;
}

.list-inline > li:last-of-type,
.list-inline > ul > li:last-of-type,
.list-inline > ol > li:last-of-type {
  margin-right: 0;
}

.list-separator > li,
.list-separator > ul > li,
.list-separator > ol > li {
  padding-right: 15px;
  border-right: 1px solid #c0c0c0;
}

.list-separator > li:last-of-type,
.list-separator > ul > li:last-of-type,
.list-separator > ol > li:last-of-type,
.list-no-separator > li,
.list-no-separator > ul > li,
.list-no-separator > ol > li {
  padding-right: inherit;
  border-right: none;
}

.list-block > li,
.list-block > ul > li,
.list-block > ol > li {
  display: block;
  margin-right: 0;
}

@each $type in $LST_LIST-TYPES {
  .list-style-#{$type}, .list-style-#{$type} > ul, .list-style-#{$type} > ol {
    list-style-type: #{$type};
  }
}


/* #########################  end : LISTE  ######################### */