/* #########################  start : OPACITY  ######################### */

[class*="opacity-"] {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.opacity-pronounced, .hover-opacity-pronounced:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.opacity-medium, .hover-opacity-medium:hover {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.opacity-light, .hover-opacity-light:hover {
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.opacity-hide, .hover-opacity-hide:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.opacity-show, .hover-opacity-show {
    opacity: 1;
    filter: alpha(opacity=1);
}

/* #########################  end : OPACITY  ######################### */